TheLuup/Connected Services/theluupservicereference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/theluupwcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/theluupwcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="Restuarent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Coverimage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="R_id" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restuarent" nillable="true" type="tns:Restuarent" />
  <xs:complexType name="ArrayOfRestuarent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restuarent" nillable="true" type="tns:Restuarent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestuarent" nillable="true" type="tns:ArrayOfRestuarent" />
  <xs:complexType name="Menues">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fooddescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foodimage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Foodname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mu_id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="R_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menues" nillable="true" type="tns:Menues" />
  <xs:complexType name="ArrayOfMenues">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Menues" nillable="true" type="tns:Menues" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenues" nillable="true" type="tns:ArrayOfMenues" />
  <xs:complexType name="LRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lr_id" type="xs:int" />
      <xs:element minOccurs="0" name="Lr_status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_id" type="xs:int" />
      <xs:element minOccurs="0" name="Ur_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LRequest" nillable="true" type="tns:LRequest" />
  <xs:complexType name="ArrayOfLRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LRequest" nillable="true" type="tns:LRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLRequest" nillable="true" type="tns:ArrayOfLRequest" />
  <xs:complexType name="ArrayOfLFreinds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LFreinds" nillable="true" type="tns:LFreinds" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLFreinds" nillable="true" type="tns:ArrayOfLFreinds" />
  <xs:complexType name="LFreinds">
    <xs:sequence>
      <xs:element minOccurs="0" name="Chatcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lp_id" type="xs:int" />
      <xs:element minOccurs="0" name="U_id" type="xs:int" />
      <xs:element minOccurs="0" name="Uf_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LFreinds" nillable="true" type="tns:LFreinds" />
  <xs:complexType name="ArrayOfLChats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LChats" nillable="true" type="tns:LChats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLChats" nillable="true" type="tns:ArrayOfLChats" />
  <xs:complexType name="LChats">
    <xs:sequence>
      <xs:element minOccurs="0" name="C_id" type="xs:int" />
      <xs:element minOccurs="0" name="C_messagee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="C_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Chatcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_id" type="xs:int" />
      <xs:element minOccurs="0" name="Uf_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LChats" nillable="true" type="tns:LChats" />
  <xs:complexType name="ArrayOfGroupChat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupChat" nillable="true" type="tns:GroupChat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupChat" nillable="true" type="tns:ArrayOfGroupChat" />
  <xs:complexType name="GroupChat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gid" type="xs:int" />
      <xs:element minOccurs="0" name="Gname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupChat" nillable="true" type="tns:GroupChat" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>